@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1a1a1a;
  color: #e0e0e0; /* <-- DIESE ZEILE IST NEU */
}